<%- include('includes/head.ejs') %>

  <!-- Creating the Blog Form for inserting the blog -->

  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

  <script>
    tinymce.init({
      selector: '#mytextarea'
    });
  </script>

  <body style="background-color: blanchedalmond;">
    <%- include('includes/nav.ejs') %>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

      <form method="post" id="updatepost" enctype="multipart/form-data">
        <div class="blog">
          <div class="edit-blog-name">
            <label for="formGroupExampleInput" class="form-label">Blog Name</label>
            <input type="text" class="form-control" name="Name" id="formGroupExampleInput" value="<%=  post.Name %>"
              placeholder="Enter the Blog name">
          </div>
          <input type="hidden" name="eid" value="<%= post.id %>" <div class="edit-blog-title">
          <label for="formGroupExampleInput2" class="form-label">Blog Title</label>
          <input type="text" class="form-control" name="Title" id="formGroupExampleInput2" value="<%=  post.Title %>"
            placeholder="Enter the Blog title">
        </div>
        <div>
          <select class="edit-blog-category" name="Category" aria-label="Default select example" id="category">
            <option selected>Select Category</option>
            <option value="Electronic" selected>Electronic</option>
            <option value="Grossery">Grossery</option>
            <option value="Food">Food</option>
          </select>
        </div>
        <div class="edit-blog-description">
          <textarea id="mytextarea" name="Description" value="<%=  post.Description  %>">Hello, World!</textarea>
        </div>
        <div>
          <input type="submit" value="Update">
        </div>
        </div>
      </form>
      <p style="color: green;" class="status"></p>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $('#updatepost').submit(function (event) {
        event.preventDefault()

        var formdata = {}
        $.each($(this).serializeArray(), function (i, field) {
          formdata[field.name] = field.value
        })

        $.ajax({
          url: '/Blog/updatepost',
          type: 'post',
          data: formdata,
          success: function (data) {
            if (data.success == true) {
             alert('Blog updated successfully')
            }
            else {
              alert('Blog is not update')
            }
          }
        })
      })
    })
  </script>

  </html>